# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# YOLO outputs
runs/

# Model weights
*.pt

# Dataset
data/raw/
data/datasets/

# Logs
*.log

# OS files
.DS_Store
bus.jpg

# Generated outputs
outputs/

# Local comparison figures
kayak_train_vs_test.jpg
sailboat_train_vs_test.jpg
